H1B Visa Petition Analysis

In [113]:
import numpy as np
import pandas as pd
import sklearn as sk
import pickle

df = pd.read_csv("h1b_kaggle.csv")
df = df.rename(columns={'Unnamed: 0': 'ID'})
print("DF Shape = ", df.shape)
df.dtypes

DF Shape =  (3002458, 11)

ID                      int64
CASE_STATUS            object
EMPLOYER_NAME          object
SOC_NAME               object
JOB_TITLE              object
FULL_TIME_POSITION     object
PREVAILING_WAGE       float64
YEAR                  float64
WORKSITE               object
lon                   float64
lat                   float64
dtype: object

In [114]:
df.isnull().sum()

ID                         0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [115]:
df['FULL_TIME_POSITION'] = np.where(df['FULL_TIME_POSITION']=="Y",1,0)
df = df.drop(['lon', 'lat'], axis=1)
df = df.dropna(subset=['JOB_TITLE'])
df['YEAR'] = df['YEAR'].astype(int)
print("DF Shape = ", df.shape)

DF Shape =  (3002415, 9)

In [116]:
df.isnull().sum()

ID                        0
CASE_STATUS               0
EMPLOYER_NAME            37
SOC_NAME              17708
JOB_TITLE                 0
FULL_TIME_POSITION        0
PREVAILING_WAGE          68
YEAR                      0
WORKSITE                  0
dtype: int64

In [117]:
print("Unique Job Titles = ", len(df['JOB_TITLE'].unique()))
print("Unique SOC Names = ", len(df['SOC_NAME'].unique()))

Unique Job Titles =  287549
Unique SOC Names =  2133

In [118]:
df = df.loc[df['CASE_STATUS'] == 'CERTIFIED']
df = df.drop(['CASE_STATUS'], axis=1)
print("DF Shape = ", df.shape)

DF Shape =  (2615620, 8)

In [119]:
df.isnull().sum()

ID                        0
EMPLOYER_NAME            11
SOC_NAME              15368
JOB_TITLE                 0
FULL_TIME_POSITION        0
PREVAILING_WAGE           0
YEAR                      0
WORKSITE                  0
dtype: int64

In [120]:
df = df.drop(['ID'], axis=1)
df = df.reset_index(drop=True)
print("DF Shape = ", df.shape)

DF Shape =  (2615620, 7)

In [121]:
print("Unique Job Titles = ", len(df['JOB_TITLE'].unique()))
print("Unique SOC Names = ", len(df['SOC_NAME'].unique()))

Unique Job Titles =  272793
Unique SOC Names =  1987

In [122]:
soc_null = df[pd.isnull(df['SOC_NAME'])]
print("soc_null shape = ", soc_null.shape)
soc_null

soc_null shape =  (15368, 7)

,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
569643,"SIGMAWAYS, INC",NaN,SYSTEMS ENGINEER,1,75421.00,2016,"FREMONT, CALIFORNIA"
1117761,"RIOT GAMES, INC.",NaN,"ECOMMERCE MANAGER, LATIN AMERICA",1,91187.00,2014,"SANTA MONICA, CALIFORNIA"
1118870,ALLINA HEALTH SYSTEM,NaN,HOSPITALIST - INTERNAL MEDICINE,1,204697.08,2014,"ST. PAUL, MINNESOTA"
1119610,"UNITED HEALTHCARE SERVICES, INC.",NaN,SENIOR IT QUALITY ANALYST (QA),1,105061.00,2014,"WALTHAM, MASSACHUSETTS"
1119721,ALLINA HEALTH SYSTEM,NaN,CHILD AND ADOLESCENT PSYCHIATRIST,1,167565.00,2014,"ST. PAUL, MINNESOTA"
1119915,INTUIT INC.,NaN,STAFF SOFTWARE ENGINEER,1,111717.00,2014,"SAN DIEGO, CALIFORNIA"
1120228,LARSEN & TOUBRO LIMITED,NaN,APPLICATION SYSTEM ENGINEER,1,44054.00,2014,"HOUSTON, TEXAS"
1120248,"SYMBIOUN TECHNOLOGIES, INC.",NaN,QUALITY ASSURANCE ANALYST,1,68557.00,2014,"AUSTIN, TEXAS"
1120359,JACKSON NATIONAL LIFE INSURANCE COMPANY,NaN,LEAD SOFTWARE DEVELOPER,1,78936.00,2014,"LANSING, MICHIGAN"
1120393,LARSEN & TOUBRO INFOTECH LIMITED,NaN,PROJECT MANAGER,1,69056.00,2014,"SANTA CLARA, CALIFORNIA"
1120653,"ARCHITECH SOLUTIONS, LLC",NaN,SENIOR BPM ASSOCIATE,1,104125.00,2014,"ARLINGTON, VIRGINIA"
1120775,LARSEN & TOUBRO INFOTECH LIMITED,NaN,SOFTWARE ENGINEER AND TESTER,1,42702.00,2014,"LIBERTYVILLE, ILLINOIS"
1120785,LARSEN & TOUBRO INFOTECH LIMITED,NaN,COMPUTER SYSTEMS ENGINEER,1,60050.00,2014,"SAN DIEGO, CALIFORNIA"
1120811,LARSEN & TOUBRO INFOTECH LIMITED,NaN,PROJECT MANAGER,1,63274.00,2014,"RARITAN, NEW JERSEY"
1121074,LARSEN & TOUBRO LIMITED,NaN,SOFTWARE DEVELOPERS APPLICATIONS,1,88296.00,2014,"STOW, MASSACHUSETTS"
1121117,LARSEN & TOUBRO INFOTECH LIMITED,NaN,SOFTWARE ENGINEER & TESTER,1,47424.00,2014,"HOBOKEN, NEW JERSEY"
1121172,"MINDTECK, INC.",NaN,JAVA DEVELOPER,1,46530.00,2014,"TOPEKA, KANSAS"
1121344,LARSEN & TOUBRO INFOTECH LIMITED,NaN,SOFTWARE ENGINEER & TESTER,1,56909.00,2014,"HARTFORD, CONNECTICUT"
1121768,"WINN-DIXIE STORES, INC.",NaN,PHARMACIST,1,104499.00,2014,"CHIEFLAND, FLORIDA"
1121880,LARSEN & TOUBRO INFOTECH LIMITED,NaN,PROJECT MANAGER,1,57325.00,2014,"BARTLESVILLE, OKLAHOMA"
1121993,LARSEN & TOUBRO INFOTECH LIMITED,NaN,COMPUTER SYSTEMS ENGINEER,1,49941.00,2014,"SAINT PAUL, MINNESOTA"
1122022,POPULUS GROUP,NaN,SOFTWARE APPLICATION ENGINEER,1,75732.80,2014,"CHARLOTTE, NORTH CAROLINA"
1122023,LARSEN & TOUBRO INFOTECH LIMITED,NaN,TECHNICAL CONSULTANT,1,76794.00,2014,"WARREN, NEW JERSEY"
1122046,LARSEN & TOUBRO LIMITED,NaN,DATA WAREHOUSE SYSTEM ENGINEER,1,59010.00,2014,"NEW ORLEANS, LOUISIANA"
1122189,"DAYBREAK INFORMATION TECHNOLOGIES, INC.",NaN,SENIOR MANAGER BUSINESS DEVELOPMENT,1,110406.00,2014,"SAN MATEO, CALIFORNIA"
1122285,LARSEN & TOUBRO INFOTECH LIMITED,NaN,PROJECT MANAGER,1,54475.00,2014,"LAWRENCEVILLE, GEORGIA"
1122325,ENOVA FINANCIAL HOLDINGS LLC,NaN,TECHNICAL QA ENGINEER,1,59738.00,2014,"CHICAGO, ILLINOIS"
1122430,"TRIS PHARMA, INC.",NaN,QA OPERATIONS SUPERVISOR,1,53414.00,2014,"MONMOUTH JUNCTION, NEW JERSEY"
1122456,INTUIT INC.,NaN,SENIOR SOFTWARE ENGINEER,1,107973.00,2014,"WOODLAND HILLS, CALIFORNIA"
1122486,LARSEN & TOUBRO INFOTECH LIMITED,NaN,SOFTWARE ENGINEER & TESTER,1,47424.00,2014,"NEW YORK, NEW YORK"
...,...,...,...,...,...,...,...
2611863,IBM INDIA PVT. LTD.,NaN,PACKAGE SOLUTION CONSULTANT,1,71510.00,2011,"COLUMBUS, OHIO"
2611908,"WHITEHATT TECHNOLOGIES, INC.",NaN,SENIOR SOFTWARE ENGINEER,0,87651.20,2011,"BOYNTON BEACH, FLORIDA"
2612017,"NAVISTAR, INC.",NaN,SUPPLY MANAGER,1,76648.00,2011,"WARRENVILLE, ILLINOIS"
2612088,"IC BUS OF OKLAHOMA, LLC",NaN,COMPLIANCE MANAGER,1,81619.00,2011,"TULSA, OKLAHOMA"
2612201,"HSBC BANK USA, N.A.",NaN,SENIOR CUSTOMER INFORMATION MANAGEMENT ANALYST,1,76232.00,2011,"METTAWA, ILLINOIS"
2612357,BROADCOM CORPORATION,NaN,"BUSINESS SYSTEMS ANALYST, SR. STAFF",1,96158.00,2011,"IRVINE, CALIFORNIA"
2612541,TRIBUNE TECHNOLOGY DIVISION,NaN,"ENGINEER, SOFTWARE III",1,80538.00,2011,"CHICAGO, ILLINOIS"
2612626,BROADCOM CORPORATION,NaN,"ENGINEER, PRINCIPAL - FIRMWARE",1,133078.00,2011,"SUNNYVALE, CALIFORNIA"
2613151,IBM INDIA PVT. LTD.,NaN,ADVISORY CONSULTANT,1,59509.00,2011,"BOISE, IDAHO"
2613162,IBM INDIA PVT. LTD.,NaN,SAP CONSULTANT,1,79102.00,2011,"SANTA CLARA, CALIFORNIA"
2613346,TOLL GLOBAL FORWARDING (USA) INC.,NaN,BUSINESS DEVELOPMENT MANAGER,1,55120.00,2011,"MEDLEY, FLORIDA"
2613366,POPULUS GROUP,NaN,SOFTWARE APPLICATION ENGINEER,1,60424.00,2011,"ERIE, PENNSYLVANIA"
2613371,LOUISIANA STATE UNIVERSITY,NaN,ASSISTANT PROFESSOR RESEARCH,1,59550.00,2011,"BATON ROUGE, LOUISIANA"
2613420,POPULUS GROUP,NaN,DATABASE ARCHITECT,1,51313.60,2011,"WILMINGTON, DELAWARE"
2613656,VERTEX CONSULTING INC.,NaN,PROGRAMMER ANALYST,1,54080.00,2011,"ASHBURN, VIRGINIA"
2614383,LARSEN & TOUBRO INFOTECH LIMITED,NaN,PROJECT MANAGER,1,62712.00,2011,"CINCINNATI, OHIO"
2614388,LARSEN & TOUBRO INFOTECH LIMITED,NaN,TECHNICAL CONSULTANT,1,67101.00,2011,"JERSEY CITY, NEW JERSEY"
2614392,LARSEN & TOUBRO INFOTECH LIMITED,NaN,SR. TECHNICAL CONSULTANT,1,74235.00,2011,"WARREN, NEW JERSEY"
2614394,LARSEN & TOUBRO INFOTECH LIMITED,NaN,SR. TECHNICAL CONSULTANT,1,79290.00,2011,"BALTIMORE, MARYLAND"
2614971,ROVI CORPORATION,NaN,SENIOR SOFTWARE ENGINEER,1,85572.00,2011,"SAN DIEGO, CALIFORNIA"
2614980,"SYMBIOUN TECHNOLOGIES, INC.",NaN,PROGRAMMER ANALYST,1,64938.00,2011,"MANHASSET, NEW YORK"
2614982,"SYMBIOUN TECHNOLOGIES, INC.",NaN,QUALITY ASSURANCE ANALYST,1,53061.00,2011,"AUSTIN, TEXAS"
2615005,"PROFICIENT BUSINESS SYSTEMS, INC.",NaN,PROGRAMMER ANALYST,1,51667.00,2011,"CAMP HILL, PENNSYLVANIA"
2615031,BROADCOM CORPORATION,NaN,"ENGINEER, PRINCIPAL - SOFTWARE SYSTEMS",1,142875.00,2011,"SAN JOSE, CALIFORNIA"
2615033,LARSEN & TOUBRO INFOTECH LIMITED,NaN,SR. TECHNICAL CONSULTANT,1,72197.00,2011,"SANTA MONICA, CALIFORNIA"
2615060,"SYMBIOUN TECHNOLOGIES, INC.",NaN,QUALITY ASSURANCE ANALYST,1,54766.00,2011,"JOHN'S CREEK, GEORGIA"
2615064,"SYMBIOUN TECHNOLOGIES, INC.",NaN,PROGRAMMER ANALYST,1,63877.00,2011,"DOWNERS GROVE, ILLINOIS"
2615359,POPULUS GROUP,NaN,COMPUTER SYSTEMS ADMINISTRATOR,1,72800.00,2011,"NEW YORK, NEW YORK"
2615500,"STAR TECHNICAL, INC.",NaN,APPLICATION SECURITY ENGINEER,1,84302.00,2011,"SEATTLE, WASHINGTON"
2615549,IMPETUSIT,NaN,JAVA/J2EE PROGRAMMER,1,65541.00,2011,"SAN FRANCISCO, CALIFORNIA"

In [123]:
soc_not_null = df[pd.notnull(df['SOC_NAME'])]
print("soc_not_null shape = ", soc_not_null.shape)
soc_not_null

soc_not_null shape =  (2600252, 7)

,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
0,QUICKLOGIX LLC,CHIEF EXECUTIVES,CEO,1,187200.00,2016,"SANTA CLARA, CALIFORNIA"
1,"MCCHRYSTAL GROUP, LLC",CHIEF EXECUTIVES,"PRESIDENT, NORTHEAST REGION",1,241842.00,2016,"ALEXANDRIA, VIRGINIA"
2,"LOMICS, LLC",CHIEF EXECUTIVES,CEO,1,99986.00,2016,"SAN DIEGO, CALIFORNIA"
3,UC UNIVERSITY HIGH SCHOOL EDUCATION INC.,CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,1,99986.00,2016,"CHULA VISTA, CALIFORNIA"
4,"QUICKLOGIX, INC.",CHIEF EXECUTIVES,CEO,1,187200.00,2016,"SANTA CLARA, CALIFORNIA"
5,HELLO INC.,CHIEF EXECUTIVES,CHIEF BUSINESS OFFICER,1,215862.00,2016,"SAN FRANCISCO, CALIFORNIA"
6,UMBEL CORP,CHIEF EXECUTIVES,VICE PRESIDENT OF ENGINEERING,1,192088.00,2016,"AUSTIN, TEXAS"
7,"PERSPECTIVES OF FREEDOM FOUNDATION, INC",CHIEF EXECUTIVES,EXECUTIVE DIRECTOR,1,95295.98,2016,"WESTON, FLORIDA"
8,GTH INC.,CHIEF EXECUTIVES,"VICE PRESIDENT, BUSINESS DEVELOPMENT",1,149594.00,2016,"WASHINGTON, DISTRICT OF COLUMBIA"
9,THE KRAFT HEINZ COMPANY,CHIEF EXECUTIVES,HEAD OF US SALES,1,226699.00,2016,"CHICAGO, ILLINOIS"
10,"REGED, INC.",CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,1,187200.00,2016,"MORRISVILLE, NORTH CAROLINA"
11,VMS COMMUNICATIONS LLC,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,1,159370.00,2016,"MIAMI, FLORIDA"
12,"FINLAY EXTRACTS & INGREDIENTS USA, INC.",CHIEF EXECUTIVES,VICE PRESIDENT OF OPERATIONS,1,98550.00,2016,"LINCOLN, RHODE ISLAND"
13,LABEL INSIGHT,CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,1,130853.00,2016,"CHICAGO, ILLINOIS"
14,INN AT THE WICKLIFFE LLC,CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,0,52416.00,2016,"WICKLIFFE, OHIO"
15,"DURHAM SCHOOL SERVICES, LP",CHIEF EXECUTIVES,"VICE PRESIDENT, FINANCE AND OPERATIONS ANALYSIS",1,130853.00,2016,"WARRENVILLE, ILLINOIS"
16,CB LANSING 300 LLP,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,1,89107.00,2016,"LANSING, MICHIGAN"
17,"SOFTTEK INTEGRATION SYSTEMS, INC.",CHIEF EXECUTIVES,ACCOUNT DIRECTOR,1,130853.00,2016,"NORTHBROOK, ILLINOIS"
18,"SPARITY, INC.",CHIEF EXECUTIVES,TECHNICAL DIRECTOR,1,102190.00,2016,"ALPHARETTA, GEORGIA"
19,"ADCONION DIRECT, INC.",CHIEF EXECUTIVES,VICE PRESIDENT OF OPERATIONS,1,197683.00,2016,"SOLANA BEACH, CALIFORNIA"
20,MAVENCARE US INC.,CHIEF EXECUTIVES,SVP BUSINESS OPERATIONS AND DEVELOPMENT,1,122179.00,2016,"NEW YORK, NEW YORK"
21,THE CHICAGO ATHENAEUM: CENTER FOR ARCHITECTURE...,CHIEF EXECUTIVES,EXECUTIVE DIRECTOR,0,54766.00,2016,"GALENA, ILLINOIS"
22,MED ADVANTAGE LLC,CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,1,187200.00,2016,"BLOOMFIELD, NEW JERSEY"
23,"STRATEGISM, INC.",CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,1,155459.20,2016,"FREMONT, CALIFORNIA"
24,RANCHO LA PUERTA LLC,CHIEF EXECUTIVES,PRESIDENT,1,197683.20,2016,"SAN DIEGO, CALIFORNIA"
25,SPRING BRANCH COMMUNITY HEALTH CENTER,CHIEF EXECUTIVES,CHIEF MEDICAL OFFICER,1,187200.00,2016,"KATY, TEXAS"
26,SPRING BRANCH COMMUNITY HEALTH CENTER,CHIEF EXECUTIVES,CHIEF MEDICAL OFFICER,1,187200.00,2016,"HOUSTON, TEXAS"
27,"PAXTERRA SOLUTIONS, INC.",CHIEF EXECUTIVES,"ASSISTANT VICE PRESIDENT, BUSINESS DEVELOPMENT",1,102190.00,2016,"JOHNS CREEK, GEORGIA"
28,"PARALLELS, INC.",CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,1,187200.00,2016,"RENTON, WASHINGTON"
29,VARIANTYX INC.,CHIEF EXECUTIVES,CHIEF INFORMATION OFFICER,1,164403.00,2016,"ASHLAND, MASSACHUSETTS"
...,...,...,...,...,...,...,...
2615590,"SYNECHRON, INC.",Computer Systems Analysts,PROGRAMMER ANALYST,1,73507.00,2011,"CHARLOTTE, NORTH CAROLINA"
2615591,"FACEBOOK, INC.","Software Developers, Applications",SOFTWARE ENGINEER,1,99653.00,2011,"PALO ALTO, CALIFORNIA"
2615592,CARNEGIE MELLON UNIVERSITY,"Physical Scientists, All Other",POSTDOCTORAL RESEARCHER,1,41330.00,2011,"PITTSBURGH, PENNSYLVANIA"
2615593,"TEAMSOFT, INC.","Software Developers, Applications",JAVA DEVELOPER,1,66892.80,2011,"MADISON, WISCONSIN"
2615594,"FACEBOOK, INC.","Software Developers, Applications",OPERATIONS ENGINEER,1,76918.00,2011,"MENLO PARK, CALIFORNIA"
2615595,CARNEGIE MELLON UNIVERSITY,"Physical Scientists, All Other",POSTDOCTORAL RESEARCH ASSOCIATE,1,41330.00,2011,"PITTSBURGH, PENNSYLVANIA"
2615596,SAKSOFT INC.,Computer Programmers,COMPUTER PROGRAMMERS,1,52478.00,2011,"JERSEY CITY, NEW JERSEY"
2615597,HORIZON TECHNOLOGIES INC,Computer Systems Analysts,COMPUTER SYSTEMS ANALYST,1,61963.00,2011,"SUNNYVALE, CALIFORNIA"
2615598,FIRST CHOICE SALES AND MARKETING GROUP,Accountants and Auditors,SENIOR ACCOUNTANT,1,50502.00,2011,"MEMPHIS, TENNESSEE"
2615599,"ENRICHIT, INC",Computer Systems Analysts,SYSTEMS ANALYST,1,56534.00,2011,"GRAFTON, WISCONSIN"
2615600,"GLOBAL BUSINESS CONSULTING SERVICES, INC.","Computer Systems Analysts, Non R&D (ACWIA Only)",PROGRAMMER ANALYST,1,61526.00,2011,"WARREN, NEW JERSEY"
2615601,"UNIVERSITY OF CALIFORNIA, LOS ANGELES","Medical Scientists, Except Epidemiologists",POSTDOCTORAL SCHOLAR,1,42864.00,2011,"LOS ANGELES, CALIFORNIA"
2615602,HORIZON TECHNOLOGIES INC,Computer Systems Analysts,COMPUTER SYSTEMS ANALYST,1,61963.00,2011,"MILPITAS, CALIFORNIA"
2615603,SAKSOFT INC.,Computer Systems Analysts,COMPUTER SYSTEMS ANALYST,1,58906.00,2011,"JERSEY CITY, NEW JERSEY"
2615604,"SYNECHRON, INC.","Software Developers, Systems Software",SOFTWARE ENGINEER SYSTEMS,1,60778.00,2011,"NASHVILLE, TENNESSEE"
2615605,HORIZON TECHNOLOGIES INC,Computer Systems Analysts,COMPUTER SYSTEMS ANALYST,1,55619.00,2011,"SAN LEANDRO, CALIFORNIA"
2615606,"GLOBUS MEDICAL, INC.","Software Developers, Applications",APPLICATIONS DEVELOPER,1,67226.00,2011,"AUDUBON, PENNSYLVANIA"
2615607,"ENRICHIT, INC","Software Developers, Applications",SOFTWARE ENGINEER,1,70034.00,2011,"WOBURN, MASSACHUSETTS"
2615608,RESEARCH CORPORATION OF THE UNIVERSITY OF HAWAII,Biological Technicians,DNA LAB TECHNICIAN,1,28080.00,2011,"HILO, HAWAII"
2615609,"AMERICAN INSTITUTE OF INTRADERMAL COSMETICS, INC.",Cost Estimators,COST ANALYST,1,39062.40,2011,"ARLINGTON, TEXAS"
2615610,"SYNECHRON, INC.","Computer Occupations, All Other*",SR. QUALITY ASSURANCE ANALYST,1,64064.00,2011,"NASHVILLE, TENNESSEE"
2615611,"ENRICHIT, INC",Computer Systems Analysts,SERVICE DELIVERY MANAGER,1,54766.00,2011,"ALPHARETTA, GEORGIA"
2615612,RESERVOIR GEOLOGY SERVICES INC,Chemical Engineers,PRODUCT ENGINEER,1,31824.00,2011,"STAFFORD, TEXAS"
2615613,"SYNECHRON, INC.",Computer Systems Analysts,PROGRAMMER ANALYST,1,83949.00,2011,"NASHVILLE, TENNESSEE"
2615614,"IDC TECHNOLOGIES, INC.",Computer Systems Analysts,PROJECT LEAD,1,74422.00,2011,"NEW YORK, NEW YORK"
2615615,"ESTUATE, INC",Database Administrators,DATABASE ADMINISTRATOR,1,58594.00,2011,"SUNNYVALE, CALIFORNIA"
2615616,"ENRICHIT, INC",Computer Systems Analysts,SENIOR SYSTEMS ANALYST,1,69472.00,2011,"ALPHARETTA, GEORGIA"
2615617,NATURAL POLYMER INTERNATIONAL CORPORATION,"Engineers, All Other",ENGINEER,0,47008.00,2011,"PLANO, TEXAS"
2615618,ZERO TRADERS INC.,"Computer Occupations, All Other*",FASHION MERCHANDISER,1,43347.00,2011,"NEW YORK, NEW YORK"
2615619,AVANT HEALTHCARE PROFESSIONALS,Occupational Therapists,OCCUPATIONAL THERAPIST,1,60964.80,2011,"TAKOMA PARK, MARYLAND"

In [128]:
# 884 Job Titles in soc_null do not have any SOC Name in soc_not_null
# Basically 884 Job Titles are new and do not have any entry in the main dataframe

print(len(soc_null['JOB_TITLE'].unique()))
print(len(soc_not_null['JOB_TITLE'].unique()))

3096
271909

In [125]:
train_df = df.loc[df['YEAR'] != 2016]
train_df
print("train_df shape = ", train_df.shape)
test_df = df.loc[df['YEAR'] == 2016]
test_df
print("test_df shape = ", test_df.shape)

train_df shape =  (2045976, 7)
test_df shape =  (569644, 7)